<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>

    <bean id="beanMessage1" class="com.springApp.springIoC.Message1">
        <property name="textMessage" value="This is message from beanMessage1"/>
    </bean>

    <bean id="beanMessage2" class="com.springApp.springIoC.Message2" scope="prototype">
        <property name="textMessage" value="This is message from beanMessage2"/>
    </bean>

    <bean id="beanMessager" class="com.springApp.springIoC.Messager" autowire="byType"/>

</beans>